/* OTHERS */

:root {
  /* COLOR */

  /* Background */
  --lighter-bg-dark: #50638b;
  --bg-dark: #252e42;
  --darker-bg-dark: #0f1e38;
  --bg-light: #ebf1f4;
  --darker-bg-light: #a9abac;
  --secondary-bg-light: #ffffff;

  /* Main colors */

  
  /* Other colors */
  --gray-000:#fff;
  --gray-100:#E2E2E2;
  --gray-200:#CCC;
  --gray-300:#A5A5A5;
  --gray-400:#999;
  --gray-500:#6C6C6C;
  --gray-600:#525252;
  --gray-700:#333;
  --gray-800:#222;
  --gray-900:#000;

  /* FONT */

  /* size */
  --sm-font: 12px;
  --lg-font: 20px;
  --xl-font: 24px;
}

/* MAIN */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--gray-200);
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--bg-dark);
  font-family: "Clinton", sans-serif;
}

h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}

a {text-decoration: none;}

/* MAIN PAGES */

#page-container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  height: 100%;
  width: 100%;
}

#sections {
  max-width: 1600px;
  width: 100%;
}

.primary-text-d {color: var(--primary-dark)}

.secondary-text-d {color: var(--secondary-dark)}

.primary-text-l {color: var(--primary-light)}

.secondary-text-l {color: var(--secondary-light)}

/* Logo */

#logobar {
  padding: 15px;
  position: fixed;
  z-index: 10;
}

#logobar div a {
  text-decoration: none;
}

#logobar div a div h2 {
  color: var(--gray-000);
}

#logobar div ul {
  display: flex;
  list-style: none;
}

.logo-border {
  border: solid 5px var(--primary-dark);
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 5px;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 1.5em;
  color: var(--gray-000);
  transition: 1s;
}

.logo-border:hover {
  border-radius: 90px;
}

/* Contact Section */

.contact-contents {
  display: grid;
  align-items: center;
  height: 100%;
}

.contact-contents .contact-list {
  list-style: none;
  padding-left: 30px;
}

.contact-list {
  display: grid;
  gap: 30px;
}

.contact-icon {
  color: var(--gray-200);
  padding: 0 20px;
  font-size: 2em;
  transition: transform 0.5s ease, color 0.5s ease;
}

.contact-icon:hover {
  color: var(--secondary-dark);
  transform: translateX(15px);
}

.line {
  border: solid 1px var(--gray-200);
  height: 100%;
  width: 0;
}

/* Main Sections */

#sections {
  width: 100%;
  overflow-y: auto;
}

#main, #about-me, #projects, #blog {
  width: 100%;
  height: 100%;
}

/* Main Page */

.container.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container.main-section .hero {
  display: grid;
  gap: 30px;
  padding: 0 45px;
  font-size: var(--lg-font);
}

.all-caps {text-transform: uppercase}

/* About Me Page */

.container.about-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 40px;
  padding: 0 5%;
}

.intro {
  display: grid;
  gap: 30px;
  max-width: 600px;
  line-height: 2;
}

.skills {
  display: grid;
  gap: 30px;
}

.skills div {
  display: grid;
  gap: 15px;
}

.skills div ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.skill-point li {
  background-color: var(--secondary-bg-dark);
  color: var(--secondary-dark);
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
  transition: ease 500ms;
  cursor: default;
}

.skill-point li:hover {
  background-color: var(--secondary-dark);
  color: var(--secondary-bg-dark);
}

.tag-style {
  color: var(--gray-300);
  opacity: 50%;
  font-size: 1em;
  font-family: sans-serif;
  user-select: none;
}

/* Project Page */

.container.project-section {
  display: grid;
  gap: 50px;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  height: 100%;
}

.project-display {
  display: grid;
  gap: 100px;
  justify-content: center;
}

.title-text {
  text-align: center;
}

.project-container {
  display: flex;
  gap: 50px;
  height: 100%;
  width: 100%;
}

.project-card {

}

.card-img {
  height: 250px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project-card {
  width: 350px;
  height: 300px;
}

.card {
  text-decoration: none;
}

.card-details ul {
  display: flex;
  gap: 10px;
}

.card-details ul {
  list-style: none;
}

.label {
  
}

/* Navigation */

.navigation {
  width: 100%;
  height: 100%;
  min-width: 130px;
  display: grid;
  align-items: center;
  text-align: right;
  overflow: hidden;
}

.nav-box ul {
  list-style: none;
  display: grid;
  gap: 30px;
}

.nav-box ul li {
  font-size: 2em;
  padding-right: 15px;
}

.nav-box ul li a{
  text-decoration: none;
}

.nav-box ul li a i, .nav-box ul li i {
  padding: 0 20px;
}

.nav-box ul li a p, .nav-box ul li a i {
  color: var(--gray-200);
  transition: transform ease 0.5s, 0.5s;
}

.nav-box ul li a i:hover, .nav-box ul li a p:hover {
  color: var(--primary-dark);
  transform: translateX(-15px);
}

#menu-arrow {
  transition: transform 0.25s ease;
}

.accordion-menu {
  transition: transform ease 0.5s;
}

.exit-menu {
  transform: rotateZ(180deg);
}

/* Experimental */

.diwol::after {
  content: "";
  display: block;
  width: 1px;
  height: 700px;
  background-color: var(--gray-200);
}

.hide-menu {
  transform: translateX(120px);
}

.icon-toggle,
.text-toggle {
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.icon-toggle.hidden {
  transform: translateX(140px);
}

.text-toggle.hidden {
  transform: translateX(140px);
}

.project-card:hover .card-details ul li {}