/* OTHERS */

:root {
  /* COLOR */

  /* Background */
  --bg-dark: #252e42;
  --secondary-bg-dark: #2f3b52;
  --bg-light: #ebf1f4;
  --secondary-bg-light: #ffffff;

  /* Main colors */
  --primary-light: #4d4dff;
  --secondary-light: #3655b3;
  --primary-dark: #4dffff;
  --secondary-dark: #36b3b3;
  --tertiary: #884dff;

  /* Other colors */
  --gray-000: #fff;
  --gray-100: #e2e2e2;
  --gray-400: #999;
  --gray-500: #6c6c6c;
  --gray-700: #333;
  --gray-800: #222;
  --gray-900: #000;

  /* FONT */

  /* size */
  --sm-font: 12px;
  --lg-font: 20px;
  --xl-font: 24px;
}

/* MAIN */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--gray-100);
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--bg-dark);
}

/* ID */

#page-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 100%;
  width: 100%;
}

#sections {
  max-width: 1600px;
  width: 100%;
}

/* ID ^ */

/* CLASSES */

/* Logo */

#logobar {
  padding: 15px;
  position: fixed;
  z-index: 10;
}

#logobar div a {
  text-decoration: none;
}

#logobar div a div h2 {
  color: var(--gray-000);
}

#logobar div ul {
  display: flex;
  list-style: none;
}

.logo-border {
  border: solid 5px var(--primary-dark);
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 5px;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 1.5em;
  color: var(--gray-000);
  transition: 1s;
}

.logo-border:hover {
  border-radius: 90px;
}

/* Contact Section */

.contact-contents {
    position: relative;
    top:15%;
}

.contact-contents .contact-list {
    list-style: none;
    font-size: 2em;
    padding-left: 30px;
}

.contact-list {
    display: grid;
    gap: 15px;
}

.contact-icon {
    color: var(--gray-100);
    padding: 0 20px;
    transition: transform 0.5s ease, color 0.5s ease;
}

.contact-icon:hover {
    color: var(--secondary-dark);
    transform: translateX(15px);
}

/* CLASSES ^ */
